<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('stats') }}">RepoSTATS</a>
</nav>
<hr>
<li id="login"><a href="{{ url_for('sign_up') }}">Sign up</a></li>
<li id="logout"><a href="{{ url_for('logout') }}">Logout</a></li>
<div class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>