{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <th>{{ header[0]|upper }}</th>
        <th>{{ header[7]|upper }}</th>
        <th>{{ header[3]|upper }}</th>
        <th>{{ header[4]|upper }}</th>
        <th>{{ header[5]|upper }}</th>
        <th>{{ header[6]|upper }}</th>
        <th>VOTE</th>
    </tr>
    {% for repos in repositories %}
    <tr>
        <td align="center">
            {{ repos.name }}
            {% if repos.git.startswith('https://github.com/') %}
                <p><img src="{{url_for('static', filename='github-mark.png')}}"
                width="50" height="50"/></p>
            {% elif repos.git.startswith('https://git.savannah.gnu.org/') %}
                <p><img src="{{url_for('static', filename='gnu-logo.png')}}"
                width="50" height="50"/></p>
            {% elif repos.git.startswith('https://gitlab.com/') %}
                <p><img src="{{url_for('static', filename='gitlab-logo-500.png')}}"
                width="50" height="50"/></p>
            {% else %}
                <p><img src="{{url_for('static', filename='git-logo.png')}}"
                width="50" height="50"/></p>
            {% endif %}
        </td>
        <td align="left">{{ repos.description }}</td>
        <td align="center">{{ repos.stars }}</td>
        <td align="center">{{ repos.watch }}</td>
        <td align="center">{{ repos.fork }}</td>
        <td align="center">{{ repos.lines_of_code }}</td>
        <td>
            <div class="container" align="center">
	            <form method="post" action="/data">
		        <input type="submit" value="LIKE" name={{ repos.git }}>
		        <p>{{ repos.like }}</p>
	            </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}