{% extends 'base.html' %}

{% block content %}
<h1>RepoSTATS</h1>
<table>
    <tr>
        <th>{{ header[0]|upper }}</th>
        <th>{{ header[1]|upper }}</th>
        <th>{{ header[7]|upper }}</th>
        <th>{{ header[3]|upper }}</th>
        <th>{{ header[4]|upper }}</th>
        <th>{{ header[5]|upper }}</th>
        <th>{{ header[6]|upper }}</th>
        <th>VOTE</th>
    </tr>
    {% for repos in repositories %}
    <tr align="center">
        <td>{{ repos.name }}</td>
        <td><a href={{ repos.git }}>{{ repos.git }}</a></td>
        <td>{{ repos.description }}</td>
        <td>{{ repos.stars }}</td>
        <td>{{ repos.watch }}</td>
        <td>{{ repos.fork }}</td>
        <td>{{ repos.lines_of_code }}</td>
        <td>
            <div class="container" align="center">
	            <form method="post" action="/data">
		        <input type="submit" value="LIKE" name={{ repos.git }}>
		        <p>{{ repos.like }}</p>
	            </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}