<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<body>
<h1>RepoStats</h1>
<table border="1">
    <tr>
        <th>{{ header[0]|upper }}</th>
        <th>{{ header[1]|upper }}</th>
        <th>{{ header[3]|upper }}</th>
        <th>{{ header[4]|upper }}</th>
        <th>{{ header[5]|upper }}</th>
        <th>{{ header[6]|upper }}</th>
    </tr>
    {% for repos in repositories %}
    <tr align="center">
        <td>{{ repos.name }}</td>
        <td>{{ repos.git }}</td>
        <td>{{ repos.stars }}</td>
        <td>{{ repos.watch }}</td>
        <td>{{ repos.fork }}</td>
        <td>{{ repos.lines_of_code }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
