{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger" align="center" style="color: red">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
<table>
    <tr>
        <th>{{ header[0]|upper }}</th>
        <th align="left" style="width: 800px">{{ header[7]|upper }}</th>
        <th align="left">STATS</th>
    </tr>  <!-- Table row with the headers -->
    {% for repos in repositories %}
    <tr>
        <td align="center">
            {{ repos.name }}<br>
            {% if repos.git.startswith('https://github.com/') %}
                <br><a href="{{ repos.git }}"><img src="{{url_for('static', filename='github-mark.png')}}"
                width="30" height="30"/></a>
            {% elif repos.git.startswith('https://git.savannah.gnu.org/') %}
                <br><a href="{{ repos.git }}"><img src="{{url_for('static', filename='gnu-logo.png')}}"
                width="30" height="30"/></a>
            {% elif repos.git.startswith('https://gitlab.com/') %}
                <br><a href="{{ repos.git }}"><img src="{{url_for('static', filename='gitlab-logo-500.png')}}"
                width="30" height="30"/></a>
            {% else %}
                <br><a href="{{ repos.git }}"><img src="{{url_for('static', filename='git-logo.png')}}"
                width="30" height="30"/></a>
            {% endif %}
            <br>
            <div class="container" align="center">
	            <form method="post" action="/data">
                {% if session.logged_in == False %}
                    <br><div class="g-recaptcha mt-3" align="center" data-sitekey="6Lc05LwmAAAAALx3gbBScQ4amWBlcmE1lYgEFcXl"></div>
                    <br><input type="submit" value="LIKE" name="{{ repos.git }}"></br>
                {% else %}
                    <br><input type="submit" value="LIKE" name="{{ repos.git }}">
                {% endif %}
                </form>
                <br>{{ repos.like }}
            </div>
        </td>
        <td align="left" style="width: 800px">{{ repos.description }}</td>
        <td align="left">
            {{ header[3]|upper }}: {{ repos.stars }}
            <br>
            {{ header[4]|upper }}: {{ repos.watch }}
            <br>
            {{ header[5]|upper }}: {{ repos.fork }}
            <br>
            {{ header[6]|upper }}: {% if repos.lines_of_code == '0' %}
            N/A
            {% else %}
            {{ repos.loc }}
            {% endif %}
        </td>
    </tr>  <!-- Table row with data and votes -->
    {% endfor %}
</table>
{% endblock %}