{% extends 'base.html' %}

{% block content %}
<h1 align="center">PLEASE LOGIN</h1>
<br>
<form action="" method="post">
    <table>
        <tr>
            <div class="container" align="center">
                <input type="email" placeholder="Email" name="username" value="{{
                request.form.username }}">
                <input type="password" placeholder="Password" name="password" value="{{
                request.form.password }}">
                <p><input class="btn btn-default" type="submit" value="Login"></p>
                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
        </tr>
    </table>
</form>

{% endblock %}