<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Vote</title>
</head>

<body>
<nav>
<a href="/">Home</a>
<a href="data">RepoSTATS</a>
</nav>
<h1 align="center">VOTE HERE</h1>
<h2 align="center">for</h2>
<h2 align="center">{{ name }}</h2>
<div class="container" align="center">
	<form method="post" action="/vote">
		<input type="submit" value="LIKE" name="like">
		<p>{{ like }}</p>
		<input type="submit" value="DISLIKE" name="dislike">
		<p>{{ dislike }}</p>
	</form>
</div>
</body>
</html>